body {
    background-color: #f8f8ff;
    font-family: Arial, sans-serif;
}

.header {
    padding: 5px;
    text-align: center;
}

.header h2 {
    margin-bottom: 5px;
    font-size: 24px;
    color: #333;
}

.header p {
    margin-top: 0;
    font-size: 18px;
    color: #74736f;
}

.textarea-container {
    padding: 20px;
}

#main-textarea {
    width: 320px;
    height: 28vh;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

#download-link {
    display: block;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #007bff;
    border-radius: 5px;
    transition-duration: 0.2s;
}

#download-link:hover {
    background-color: #0056b3;
}
#download-html-link {
    display: block;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #007bff;
    border-radius: 5px;
    transition-duration: 0.2s;
}

#download-html-link:hover {
    background-color: #0056b3;
}

.feather {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: middle;
}